.countup {
    font-size: .9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color: wheat;
    margin: 15px auto;
}

footer {
    border-top: 1px solid rgba(187, 164, 164, 0.5);
    text-align: center;
    width: 100%;
    min-height: 50px;
    background-color: #e43647;
}